<div class="container">
  <div class="flex">
    <!-- <input type="text" class="input-field w-100"> -->
    <button class="btg ml-10 px-40" (click)="newPerson()" [class.active]="showFormModal">Cadastrar</button>
  </div>
  <div>
    <table class="w-100 mt-20">
      <tr>
        <th>Nome</th>
        <th>Idade</th>
      </tr>
      <tr *ngFor="let person of people; index as i" [class.active]="currentIndex === i" (click)="viewPhoto(person.photo, i)">
        <td>{{ person.name }}</td>
        <td>{{ person.age }}</td>
      </tr>
    </table>
  </div>
</div>

<div id="myModal" class="modal" [hidden]="!showFormModal">
  <!-- Modal content -->
  <div class="modal-content">
    <!-- <span class="close" (click)="showModal = false">&times;</span> -->
    <form [formGroup]="form">
      <div>
        <label>
          Nome
          <input type="text" name="name" formControlName="name">
        </label>
      </div>
      <div class="mt-20">
        <label>
          Idade
          <input type="number" name="age" formControlName="age">
        </label>
      </div>
      <div class="mt-20">
        <label>
          Foto (URL)
          <input type="text" name="photo" formControlName="photo">
        </label>
      </div>
      <div class="mt-20">
        <button type="button" class="btg px-15" (click)="showFormModal = false">Fechar</button>
        <button type="button" class="btg px-15 ml-10" (click)="savePerson()">Cadastrar</button>
      </div>
    </form>
  </div>
</div>

<div id="myModal" class="modal" [hidden]="!showPhotoModal">
  <!-- Modal content -->
  <div class="modal-content">
    <!-- <span class="close" (click)="showModal = false">&times;</span> -->
    <img [src]="this.photoUrl" (click)="showPhotoModal = false; currentIndex = -1">
  </div>
</div>